*, *:after, *:before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'TT Lakes Condensed Bold';
    src: url(fonts/TTLakesCondensed-Bold.eot);
    src: local("TT Lakes Condensed Bold"), local("TTLakesCondensed-Bold"), url(./fonts/TTLakesCondensed-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-Bold.woff) format("woff"), url(./fonts/TTLakesCondensed-Bold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
        font-family: 'TT Lakes Condensed';
        src: url(fonts/TTLakesCondensed-Regular.eot);
        src: local("TT Lakes Condensed Regular"), local("TTLakesCondensed-Regular"), url(./fonts/TTLakesCondensed-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-Regular.woff) format("woff"), url(./fonts/TTLakesCondensed-Regular.ttf) format("truetype");
        font-weight: normal;
        font-style: normal;
}  
@font-face {
        font-family: 'TT Lakes Condensed Medium';
        src: url(fonts/TTLakesCondensed-Medium.eot);
        src: local("TT Lakes Condensed Medium"), local("TTLakesCondensed-Medium"), url(./fonts/TTLakesCondensed-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-Medium.woff) format("woff"), url(./fonts/TTLakesCondensed-Medium.ttf) format("truetype");
        font-weight: 500;
        font-style: normal;
}
.body {
    background: #F2F2F2;
}    
.header-tech {
height: 79px;
border-top: 1px solid #D9FFF5;
min-width: 320px;
padding:16px;
background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
height: 80px;
}
@media (min-width: 768px) {
    .header-tech {
        height: 56px;
        padding-left: 24px;
    }
}
.header-tech__text {
    font-family: 'TT Lakes Condensed Medium', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    font-weight: 100;
    color: #7E7E82;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: rgb(14, 9, 9);
    margin: 0 6px;
    width: 12px;
    height: 12px;
}
.swiper-pagination-bullet {
    background-color: rgb(177, 177, 177) !important;
}
.swiper-pagination-bullet-active {
    background: #a7a8ac !important;
}
.swiper-wrapper {
    padding-bottom: 16px;
    padding-top: 16px;
}
.swiper-wrapper :first-child {
    margin-left: 16px;
}
.brands {
    display: grid;
    grid-template-columns: repeat(auto-fit, 224px);
    grid-gap: 16px 24px;
    padding: 24px;
    overflow: hidden;
    height: 200px;
    max-width: 1200px;
}
@media (min-width: 1120px) {
    .brands {
        grid-template-columns: repeat(auto-fit, 240px);
        grid-gap: 16px 32px;
    }
}
.brands__link {
    min-width: 224px;
    width: 224px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    background-color: #FFFFFF;
    
}
@media (min-width: 1120px) {
    .brands__link {
        width: 240px;
    }
}

.content-wrapper {
    background-color: #F2F2F2;
}
.brands__link::after {
    content: url(img/go.png);
    width: 40px;
    height: 40px;
    margin-right: 16px;
    cursor: pointer;
}
.brands__item.swiper-slide {
    max-width: 240px;
    height:72px;
}
.swiper-container {
    background-color: #F2F2F2;
    overflow: hidden;
}
@media (min-width: 768px) {
    .slider-container {
        display: none;
    }
    .brands__link {
        padding-left: 16px;
    }
}
@media (max-width:767px) {
    .brands {
        display: none;
    }
}
.more-box {
    display: none;
}
.more-label {
    display: none;
}
@media (min-width: 768px) {
    .more-label {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: inline-block;
        background: #F2F2F2;
        cursor: pointer;
        color: #1B1C21;
        font-family: "TT Lakes Condensed medium", Arial, sans-serif;
        margin-left: 24px;
        padding-bottom: 16px;
    }
}
.more-label:before {
    content: url(img/icon.svg);
    margin-right: 12px;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: center;  
}
.more-box:checked~.more-label::before {
    display: inline-block;
    transform: rotate(180deg);
}
.more-label::after {
    content: 'Показать все';
}
.more-box:checked~.more-label::after {
    content: 'Скрыть';
}
.more-box:checked~.brands {
    height: auto;
    max-height: 1111px;
}
@media (min-width: 768px) {
    .brands__item:hover {
        box-shadow:
        0.5px 0.5px #a19887,
        1px 1px #c7bdaa;
        border-radius: 6px;
    }
} 
.brands__item:hover, .brands__link:active {
    filter:contrast(125%);
    transform: scale(1.01);
    transition: 0.5s;
}
.brands__link:active {
    transform: scale(1);
    opacity: 0.97;
    transition: 0.1s;
}
.brands__item:hover .brands__link::after {
    background-color: rgba(240, 205, 205, 0.795);
    border-radius: 50%;
    transition: 0.1s;
}
