*, *:after, *:before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'TT Lakes Condensed Bold';
    src: url(./fonts/TTLakesCondensed-Bold.eot);
    src: local("TT Lakes Condensed Bold"), local("TTLakesCondensed-Bold"), url(./fonts/TTLakesCondensed-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-Bold.woff) format("woff"), url(./fonts/TTLakesCondensed-Bold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
        font-family: 'TT Lakes Condensed';
        src: url(./fonts/TTLakesCondensed-Regular.eot);
        src: local("TT Lakes Condensed Regular"), local("TTLakesCondensed-Regular"), url(./fonts/TTLakesCondensed-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-Regular.woff) format("woff"), url(./fonts/TTLakesCondensed-Regular.ttf) format("truetype");
        font-weight: normal;
        font-style: normal;
    }  
@font-face {
        font-family: 'TT Lakes Condensed Medium';
        src: url(./fonts/TTLakesCondensed-Medium.eot);
        src: local("TT Lakes Condensed Medium"), local("TTLakesCondensed-Medium"), url(./fonts/TTLakesCondensed-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-Medium.woff) format("woff"), url(./fonts/TTLakesCondensed-Medium.ttf) format("truetype");
        font-weight: 500;
        font-style: normal;
    }

.header {
    height: 88px;
    min-height: 88px;
    align-items: center;
    width: 100%;
    min-width: 320px;
    display: flex;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D9FFF5;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
.set-buttons {
    display: none;
}
@media (min-width: 1120px) {
    .set-buttons {
        display: flex;
        margin-left: auto;
        margin-right: 20px;
        align-items: center;
    }
    h1 + label {
        padding-right: 8px;
    }
    .header {
        display: none;
    }
}
    .header__left {
        display: flex;
        align-items: center;
        margin-left: 16px;
        
    }
    .header__left .logo {
        position:  relative;
        max-height: 52px;
    }
    .header__left .btn {
        margin-right: 16px;
    }
    .header__mid-buttons {
        display: none;
        
    }
    .header__mid-buttons :not(:last-child){
        margin-right: 16px;
    }
    @media  (min-width: 768px) {
        .header__mid-buttons {
            display: flex;
            
        }
    }
    .header__right {
        display: flex;
        margin-left: auto;
        align-items: center;
        margin-right: 20px;
}
    .header__right, .btn_repair {
        margin-right: 10px;
    }
.btn {
        width: 40px;
        height: 40px;
        align-items: center;
        cursor: pointer;
        border: 0;
        border-radius: 50%;
        background: rgb(255, 255, 255) center;
        padding: 0;
    }
    .btn__menu {
        background: url('ic/burger.png');
    }
    .btn__right {
        display: flex;
        padding-right: 30px;
    }
    .btn__right::before {
        content: url(divider.svg);
        margin: 5px 20px;
    }
    .btn_repair {
        background: url('ic/repair.png');
        margin-left:8px;
    }
    .btn_checkstatus {
        background: url('ic/checkstatus.png');
        margin-left:8px;
    }
    .btn_call {
        background: url('ic/call.png');
    }
    .btn_chat {
        background: url('ic/chat.png');
    }
    .btn_profile {
        background: url('ic/profile.png');
    }
    main {
        padding-top: 88px;
        max-width: 100%;
        min-width: 320px;
        background-color: #F8F8F8;
        
    }
  @media (min-width: 1120px) {
      main {
          padding: 0;
      }
  }
    
    .title {
        top: 24px;
        position: relative;
        font-family: "TT Lakes Condensed Bold", Arial, sans-serif;
        margin-left: 16px;
        display: flex;
        align-items: center;

    }

    .title:before {
          position: absolute;
          content: "";
          border: 2px solid #41f6d7;
          height: 40px;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
          left: -16px;
        }
.main__button {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 32px;
    margin-left: 16px;
}
.main__button_text {
    font-size: 17px;
    line-height: 24px;
    color: #7E7E82;
    font-family: "TT Lakes Condensed Medium", Arial, sans-serif;
    white-space: nowrap;
    background: none;
    cursor: pointer;
    padding: 10px 18px; 
}
.main__button_text:focus {
    padding: 8px 16px;
    border: 2px solid #B8FFEC;
    border-radius: 6px; 
    background: #fff;
}
.main__description { 
    display: flex;
    flex-direction: column; 
    font-family: "TT Lakes Condensed", Arial, sans-serif;
    color: #1B1C21;
    max-width: 100%;
    min-width: 320px;
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid #D9FFF5;
    padding-bottom: 24px;
}
@media (min-width: 768px) {
.main__description {
 flex-direction: row;
 flex-wrap: nowrap;
}
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.main__header-right_description {
    font-style: oblique;
    font-size: 24px;    
}
.main__description_text {
    margin-right: 16px;
    margin-left: 16px;
    height: 100px;
    overflow: hidden;
    max-height: 90px;
    margin-top: 24px;
    order: -1;
}
.main__more-button {
    margin-right: 16px;
    margin-top: 16px;
    display: block;
    background: #F8F8F8;
    cursor: pointer;
    color: #1B1C21;
    font-size: 16px;
    font-family: "TT Lakes Condensed medium", Arial, sans-serif;
}
.main__more-button:before {
    content: url(ic/icon.svg);
    margin-right: 12px;
    margin-left: 20px;
}
.main__img {
    margin-top: 16px;
    width: 100%;
    min-width: 320px;
    max-width:600px;
}
.main__img img {
    width: 100%;
    height: 220px;
    
}
.main__more-box {
    display: none;

}
.main__more-box:checked+.main__more-button::before {
    
    display: inline-block;
    transform: rotate(180deg);
}
.main__more-button::after {
    content: 'Читать далее';
}
.main__more-box:checked~.main__description_text {
    height: auto;
    max-height: 1111px;
}
.main__more-box:checked~.main__more-button::after {
    content: 'Скрыть';
}
